@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




/* shared styles */

body{
    /* max-width: 100%; */
    background-color: #1A0B2E;
}


.flex{
    display: flex;
}

.navbar, .logo, .menu ,.grad-button{
    margin: 0 100px;
}

.text-white{
    color: #FFFFFF;
}
.grad-background{
    background: linear-gradient( 45deg, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
}
.grad-text{
 background: linear-gradient( 0deg, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn{
    padding: 12px 16px;
    border-radius:10000px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    
}
/* navber styles */
.navbar{
    justify-content:space-between;
    align-items: center;
}
.navbar .logo h1{
       font-size: 2.8rem;
       font-weight: 700;
}
.navbar .menu{
     margin: 0 100px;
     gap: 32px;
}
.navbar .menu h5{
     font-size: 1rem;
     font-weight: 500;
     opacity: 90%;
}

