@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




/* shared styles */
body{
    background-color: #1A0B2E;
    margin: 0;
    padding: 0;
   
}


.flex{
    display: flex;
}

.navbar, .logo, .menu ,.grad-button{
    margin: 0 100px;
}

.text-white{
    color: #FFFFFF;
}
.text-light-white{
    color: rgba(255, 255, 255, 0.7);
}
.grad-background{
    background: linear-gradient( 45deg, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
}
.grad-text{
 background: linear-gradient( 0deg, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn{
    padding: 12px 16px;
    border-radius:10000px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    
}
.btn:hover{
    cursor: pointer;
}
/* navber styles */
.navbar{
    justify-content:space-between;
    align-items: center;
}
.navbar .logo h1{
       font-size: 2.8rem;
       font-weight: 700;
}
.navbar .menu{
     margin: 0 100px;
     gap: 32px;
}
.navbar .menu h5{
     font-size: 1rem;
     font-weight: 500;
     opacity: 90%;
}
.hamburger{
    display: none;
}
.hamburger:hover{
    cursor: pointer;
}


/* hero-banner */
.banner{
    position: relative;
   width: 100%;
   height: 760px;
   border-top: 0.5px solid rgba(255, 255, 255, 0.1) ;
}
.hero-background{
position: relative;
   width: 100%;
}
.hero-circle{
    position: absolute;
    left: 625px;
    bottom: 300px;
}
.hero-microphone{
      position: absolute;
      width: 200px;
      height: 200px;
      left: 115px;
       top: 80px;
}
.hero-badge{
    background-color: #00FF88;
    width: 60px;
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    top: 20px;
    left: 265px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 27px  rgba(0, 255, 136, 0.5);
}
.hero-badge span{
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
}
.hero-badge:hover{
    transform: scale(1.5);
}
.hero-content{
    width: 550px;
    position: absolute;
    left: -100px;
    margin-top: 40px;
    text-align: center;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin: 0 auto;
}
.hero-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 8px;
}
.hero-buttons{
    margin: 0 auto;
    gap: 8px;
}
.hero-buttons .hbtn1{
    padding: 12px 20px;
    gap: 8px;
    font-size: 1rem;
    font-weight: 500;
}
.hero-buttons .hbtn2{
    padding: 12px 20px;
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    font-size: 1rem;
    font-weight: 500;
}


/* mobile device */
@media screen and (max-width:576px) {
    .navbar{
        justify-content: space-between;
    }
    .navbar, .logo, .menu ,.grad-button{
           margin: 0px;
        }
        .navbar .logo h1{
            font-size: 2rem;
            margin:16px 20px;
        }
     
         .hamburger{
            display: block;
            margin: 16px 20px;
         }
       .navbar .menu{
        display: none;
       }
       .navbar .grad-button
       {
        display: none
       }
}

