@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

body{
   max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;
   padding: 0;
  overflow-x: hidden;
   
}

.flex{
    display: flex;
}

.navbar, .logo, .menu ,.grad-button{
    margin: 0 100px;
}

.text-white{
    color: #FFFFFF;
}
.text-light-white{
    color: rgba(255, 255, 255, 0.7);
}
.text-green{
    color: #00FF88;
}

.padding-top{
    padding-top: 70px;
}
.grad-background{
    background: linear-gradient( 45deg, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
}
.grad-text{
 background: linear-gradient( 0deg, #F7E93F 0%, #FB09B4 51%,#9100F8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn{
    padding: 12px 16px;
    border-radius:10000px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    
}
.btn:hover{
    cursor: pointer;
}
/* navber styles */
.navbar{
    justify-content:space-between;
    align-items: center;
}
.navbar .logo h1{
       font-size: 2.8rem;
       font-weight: 700;
}
.navbar .menu{
     margin: 0 100px;
     gap: 32px;
}
.navbar .menu h5{
     font-size: 1rem;
     font-weight: 500;
     opacity: 90%;
}
.hamburger{
    display: none;
}
.hamburger:hover{
    cursor: pointer;
}


/* hero-banner */
.banner{
    position: relative;
   width: 100%;
   height: 760px;
   border-top: 0.5px solid rgba(255, 255, 255, 0.1) ;
}
.hero-background{
position: relative;
   width: 100%;
}
.hero-circle{
    position: absolute;
    left: 625px;
    bottom: 300px;
}
.hero-microphone{
      position: absolute;
      width: 200px;
      height: 200px;
      left: 115px;
      top: 80px;
}
.hero-badge{
    background-color: #00FF88;
    width: 60px;
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    top: 20px;
    left: 265px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 27px  rgba(0, 255, 136, 0.5);
}
.hero-badge span{
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    width: 40px;
}
.hero-badge:hover{
    transform: scale(1.5);
}
.hero-content{
    width: 550px;
    position: absolute;
    left: -100px;
    margin-top: 40px;
    text-align: center;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin: 0 auto;
}
.hero-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 8px;
}
.hero-buttons{
    margin: 0 auto;
    gap: 8px;
}
.hero-buttons .hbtn1{
    padding: 12px 20px;
    gap: 8px;
    font-size: 1rem;
    font-weight: 500;
}
.hero-buttons .hbtn2{
    padding: 12px 20px;
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    font-size: 1rem;
    font-weight: 500;
}
/* about section */
.about{
    width: 100%;
    padding-bottom: 50px 200px 120px 200px; 
}
.about .about-content{
width: 75%;
text-align: center;
margin:auto;
padding-bottom: 40px;
border-bottom: 0.5px solid rgba(255, 255, 255, 0.1) ;
}
.about .about-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about .about-content p{
    margin-bottom: 30px;
}
.about-data {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 75%;
    margin:0 auto;
    justify-content: space-around;
    text-align: center;
}
.about-data h1{
    padding: auto;
    margin-bottom: 16px;
    font-size: 3rem;
    font-weight:900;
}
.about-data p{
    font-size: 1rem;
    font-weight: 400;
}
.data-3 img{
    margin-bottom: 80px;
}

.choose{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 120px 200px;
}
.choose h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,225px);
}
.card{  
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.card h2{
    font-weight: 1.5rem;
    font-weight: 700;
    margin: 16px auto;
}
.card p{
    font-size: 1rem;
    font-weight:400;
}


.big-layout{
    grid-column: span 2;
    grid-row: span 1;
}
.medium-layout{
    grid-column: span 1;
    grid-row: span 2;
}
.small-layout{
    grid-column: span 1;
    grid-row: span 2;
}
.special-layout{
    grid-column: span 2;
    grid-row: span 2;
}

/* featured section */

.featured{
 width:75%;
 height: auto;
 padding: 120px 200px;
 gap: 120px;

}
.featured h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.epi-cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.epi-card{
    background-color: rgba(37, 13, 68, 1);
    max-width: 380px;
    border-radius: 20px;
   
}
.video iframe{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.epi-card .epi-card-content{
    padding: 24px;
}
.epi-card .epi-card-content h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.host{
max-width: 1200px;
 margin: 0 auto;
margin-top: 120px;
}
.host h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.host .host-card{

    max-width: 100%;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    gap: 24px;
}
.host .host-card .host-social{
    display: flex;
    gap: 8px;
}
.host .host-card .host-social .social-rings{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.host .host-card .host-info h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

footer{
    position: relative;
}

.footer-content{
    position: absolute;
    width: 545px;
    left: 520px;
    bottom: 115px;
}
.footer-content h1{
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 32px;
    text-align: center;
}
.footer-content .foot-logos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.footer-content .foot-logos .foot-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.footer-content .foot-logos .foot-logo a{
    text-decoration: none;
}
.footer-content .copyright {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.mobile-background{
    display: none;
}
/* mobile device */
@media screen and (max-width:576px) {
   
    .navbar{
        justify-content: space-between;
    }
    .navbar, .logo, .menu ,.grad-button{
           margin: 0px;
        }
        .navbar .logo h1{
            font-size: 2rem;
            margin:16px 20px;
        }
     
         .hamburger{
            display: block;
            margin: 16px 20px;
         }
       .navbar .menu{
        display: none;
       }
       .navbar .grad-button
       {
        display: none
       }
       .banner{
        padding-top: 20px;
         width: 100%;
         height: auto;
       }
       .hero-background{
            width: 100%;
              }
    .hero-background img {
   width: 100%;
  }
   .hero-circle {
  position: relative;   
    width: 45%;
    height: 42%;
    left: 150px;
    bottom: 300px;
    padding-top: 20px;
}
.hero-microphone{
       position: absolute;
      width: 23.5%;
      height: 35%;
      left: 95px;
      top: 100px; 
}
.hero-badge{
    position: absolute;
    top: 40px;
    left: 160px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 27px  rgba(0, 255, 136, 0.5);
}
.hero-content {
    width:400px;
    position: absolute;
    left: -70px;
    margin-top: 24px;
    text-align: center;
}
   .about{
    margin:auto;
    padding-bottom: 40px;
   }
      .about .about-content{
     width: 90%;
     text-align: center;
     margin:auto;
     padding-bottom: 40px;
      }
      .about .about-content h1{
        font-size: 2rem;
      }

    .about-data{
        width: 90%;
        padding: 0px;
        grid-template-columns: repeat(2,1fr);
        justify-content:space
      }


      .choose{
    background-color: rgba(53, 17, 101, 0.4);
    width: 97%;
    padding: 40px 10px;
     }
    .cards{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 16px 10px;
}
.card h2{
    font-weight: 1.2rem;
}
.big-layout , .medium-layout, .small-layout, .special-layout{
   grid-column: auto;
   grid-row: auto;
}
.choose h1{
    font-size: 2rem;
    margin-bottom: 16px;
}
/* featured */
.featured{
 width:100%;
 height: auto;
 padding: 40px 20px;
 gap: 60px;
}
.featured h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.epi-cards{
    display:grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
.epi-card{
    max-width: 92%;
    border-radius: 20px;
}
.epi-card .epi-card-content{
    padding: 16px;
    gap: 8px;
}
.epi-card-content h3{
    margin: 0px;
}
.host{
max-width:92%;
margin-right: 40px;
margin-top: 60px;
}
.host h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.host .host-card{
    max-width: 100%;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 24px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}
.host-info{
    text-align: center;
    justify-content: center;
    gap: 16px;
}
.host-info h3{
    margin: 16px 0px;
    font-size: 1.5rem;
    font-weight: 700;
}
.host .host-card .host-social{
    display: flex;
    max-width: 184px;
    margin: 0 auto;
    gap: 8px;
}
 .window-background{
    display: none;
}
.mobile-background{
    display: block;
} 
footer{
    width:100%;
    position: relative;
}
footer .foot-background img{
    width:576px;
     height: 248px;
}
.footer-content{
    position: absolute;
    width: 92%;
    left: 35px;
    bottom: 35px;
}
.footer-content h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom:24px;
    text-align: center;
}
.footer-content .foot-logos{
    width: 58%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom:24px;
}
.footer-content .foot-logos .foot-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-content .foot-logos .foot-logo a{
    font-size: 1rem;
    font-weight: 400;
}

}